<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="dinearvningerEntities" connectionString="metadata=res://*/TemplateFormModel.csdl|res://*/TemplateFormModel.ssdl|res://*/TemplateFormModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql17.unoeuro.com;initial catalog=little_inc_dk_db_dinearvninger;user id=little_inc_dk;password=b5xn6DFzhEck;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>